## https://www.kaggle.com/c/instacart-market-basket-analysis

- aisles.csv       

- order_products__prior.csv  

- orders.csv    

- sample_submission.csv

- departments.csv

- order_products__train.csv

- products.csv

### instructions:

> order_products_prior give the order information of all users in the history. order_products_train give the current order information of some users. You need to predict the current order of rest of users.

### in addition to using the last reordered products by each user

### also calculate the reorder factor for each product and each user, among the products he/she has ever RE-ordered. Then take the top N products, sorted by reorder factor, in last month only

In [1]:
import numpy as np
import pandas as pd
import pickle

from tqdm import *

In [2]:
DATA_ROOT = "/media/felipe/ssd_vol/instacart/"
PICKLE_ROOT = DATA_ROOT+"pickles/"

In [3]:
aisles_df = pd.read_csv(DATA_ROOT+"aisles.csv")

In [ ]:
last_items_ordered_df = pd.read_csv(DATA_ROOT+"order_products__train.csv")

In [4]:
orders_df = pd.read_csv(DATA_ROOT+"/orders.csv")

In [5]:
departments_df = pd.read_csv(DATA_ROOT+"/departments.csv")

In [6]:
products_df = pd.read_csv(DATA_ROOT+"/products.csv")

In [7]:
prior_items_ordered_df = pd.read_csv(DATA_ROOT+"order_products__prior.csv")

## aisles

In [8]:
aisles_df.sample(5)

     aisle_id                          aisle
95         96                     lunch meat
92         93               breakfast bakery
114       115  water seltzer sparkling water
81         82               baby accessories
40         41                  cat food care

## departments

In [9]:
departments_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

## products

In [10]:
products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [11]:
len(products_df)

49688

In [12]:
max(products_df["product_id"])

49688

## orders

In [13]:
orders_df.sample(10)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
2192409,3065648,131995,prior,10,3,13,6.0
2729867,2680944,164471,prior,4,3,16,5.0
2424131,671341,145871,prior,14,5,15,6.0
1553850,3241134,93325,prior,41,4,7,4.0
3051077,75897,184039,prior,7,4,18,10.0
2620301,517596,157751,prior,11,4,14,12.0
1979772,1630848,118884,prior,49,4,17,4.0
2165570,239153,130292,prior,15,4,16,8.0
390847,2454542,23474,test,9,2,14,15.0
558223,1505128,33649,train,8,4,16,14.0

In [14]:
orders_df.groupby('eval_set').count()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
eval_set,,,,,,
prior,3214874,3214874,3214874,3214874,3214874,3008665
test,75000,75000,75000,75000,75000,75000
train,131209,131209,131209,131209,131209,131209

In [15]:
len(orders_df[orders_df['eval_set']=='test']['order_id'].unique())

75000

In [16]:
last_items_ordered_df.sample(10)

NameError: name 'last_items_ordered_df' is not defined

### users_df, derived

In [17]:
users_df = orders_df[["user_id"]]

In [18]:
users_df = users_df.drop_duplicates().reset_index().drop('index',axis=1)

In [19]:
users_df.head()

   user_id
0        1
1        2
2        3
3        4
4        5

## denormalizing

In [ ]:
# last_items_ordered_df = pd.merge(last_items_ordered_df,orders_df,on='order_id',how='left')

In [ ]:
# prior_items_ordered_df = pd.merge(prior_items_ordered_df,orders_df,on='order_id',how='left')

## what is the static reorder_factor for each Product, for each product ever re-ordered by each user, in the test set?

In [ ]:
orders_df.head()

In [20]:
users_in_test_set_df = pd.merge(
    orders_df.query("eval_set == 'test'"),
    users_df,
    on='user_id',
    how='left'
)[["user_id"]]

In [21]:
users_in_test_set_df.head()

   user_id
0        3
1        4
2        6
3       11
4       12

In [22]:
prior_orders_and_items_df = pd.merge(
    prior_items_ordered_df,
    orders_df, on='order_id', how='left'
)

In [24]:
prior_orders_and_items_df = pd.merge(
 users_in_test_set_df,
 prior_orders_and_items_df,
 on = 'user_id',
 how='left'
)


prior_orders_and_reordered_items_df = prior_orders_and_items_df.query(
    'reordered == 1'
)

In [53]:
prior_orders_and_reordered_items_df

,user_id,order_id,product_id,add_to_cart_order,reordered,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
1,3,444309,21903,2,1,prior,2,3,19,9.0
5,3,444309,17668,6,1,prior,2,3,19,9.0
8,3,444309,32402,9,1,prior,2,3,19,9.0
9,3,521107,39190,1,1,prior,11,0,18,11.0
10,3,521107,47766,2,1,prior,11,0,18,11.0
11,3,521107,21903,3,1,prior,11,0,18,11.0
12,3,521107,43961,4,1,prior,11,0,18,11.0
13,3,521107,17668,5,1,prior,11,0,18,11.0
14,3,676467,18599,1,1,prior,10,3,16,17.0
15,3,676467,17668,2,1,prior,10,3,16,17.0
16,3,676467,47766,3,1,prior,10,3,16,17.0
17,3,676467,39190,4,1,prior,10,3,16,17.0
19,3,676467,32402,6,1,prior,10,3,16,17.0
30,3,1402502,39190,1,1,prior,12,1,15,15.0
31,3,1402502,18599,2,1,prior,12,1,15,15.0
32,3,1402502,23650,3,1,prior,12,1,15,15.0
33,3,1402502,21903,4,1,prior,12,1,15,15.0
34,3,1402502,47766,5,1,prior,12,1,15,15.0
35,3,1402502,24810,6,1,prior,12,1,15,15.0
36,3,1839752,39190,1,1,prior,7,0,15,7.0
37,3,1839752,1819,2,1,prior,7,0,15,7.0
38,3,1839752,21903,3,1,prior,7,0,15,7.0
40,3,1839752,16797,5,1,prior,7,0,15,7.0
41,3,1839752,24010,6,1,prior,7,0,15,7.0
42,3,1839752,14992,7,1,prior,7,0,15,7.0
44,3,1839752,9387,9,1,prior,7,0,15,7.0
45,3,1972919,22035,1,1,prior,6,0,16,7.0
46,3,1972919,39190,2,1,prior,6,0,16,7.0
47,3,1972919,9387,3,1,prior,6,0,16,7.0
48,3,1972919,47766,4,1,prior,6,0,16,7.0
...,...,...,...,...,...,...,...,...,...,...
11792456,206208,3356245,13877,11,1,prior,40,5,9,10.0
11792457,206208,3356245,27690,12,1,prior,40,5,9,10.0
11792458,206208,3356245,25659,13,1,prior,40,5,9,10.0
11792459,206208,3356245,14778,14,1,prior,40,5,9,10.0
11792460,206208,3356245,12674,15,1,prior,40,5,9,10.0
11792461,206208,3356245,24964,16,1,prior,40,5,9,10.0
11792462,206208,3356245,37208,17,1,prior,40,5,9,10.0
11792463,206208,3356245,42356,18,1,prior,40,5,9,10.0
11792464,206208,3356245,30995,19,1,prior,40,5,9,10.0
11792465,206208,3356245,20632,20,1,prior,40,5,9,10.0
11792466,206208,3356245,6297,21,1,prior,40,5,9,10.0
11792467,206208,3356245,12125,22,1,prior,40,5,9,10.0
11792469,206208,3356245,9339,24,1,prior,40,5,9,10.0
11792470,206208,3356245,36772,25,1,prior,40,5,9,10.0
11792472,206208,3356245,45007,27,1,prior,40,5,9,10.0
11792473,206208,3356245,22504,28,1,prior,40,5,9,10.0
11792475,206208,3392839,34213,2,1,prior,3,2,15,7.0
11792476,206208,3392839,23579,3,1,prior,3,2,15,7.0
11792477,206208,3392839,18770,4,1,prior,3,2,15,7.0
11792478,206208,3392839,33000,5,1,prior,3,2,15,7.0
11792486,206208,3412250,34213,1,1,prior,29,4,18,4.0
11792487,206208,3412250,27966,2,1,prior,29,4,18,4.0
11792488,206208,3412250,11520,3,1,prior,29,4,18,4.0
11792489,206208,3412250,1804,4,1,prior,29,4,18,4.0
11792490,206208,3412250,4960,5,1,prior,29,4,18,4.0
11792491,206208,3412250,42768,6,1,prior,29,4,18,4.0
11792493,206208,3412250,14467,8,1,prior,29,4,18,4.0
11792494,206208,3412250,23644,9,1,prior,29,4,18,4.0
11792496,206208,3412250,31506,11,1,prior,29,4,18,4.0
11792497,206208,3412250,31404,12,1,prior,29,4,18,4.0

In [45]:
labels_df

,25,29,34,45,79,158,193,196,403,405,...,49328,49340,49374,49383,49424,49481,49533,49585,49677,49683
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6202,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6203,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6204,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6205,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6206,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6207,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6208,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6209,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6210,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6211,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6212,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6213,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6214,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6215,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6216,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6219,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6220,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6221,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6222,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6223,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6224,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6225,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6226,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6227,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6231,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6232,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6234,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6235,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6236,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6238,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
prior_orders_and_reordered_items_by_users_in_test_set.head()

In [ ]:
pd.merge(
prior_orders_and_items_by_users_in_test_set.query("user_id == 63469").sort_values(by=["order_number"]),
products_df,
    on="product_id",
    how="left"
).drop(
    ["eval_set","user_id"],axis=1
).groupby("order_id")["order_id"].count()

In [ ]:
# df.groupby('A').agg({'B': ['min', 'max'], 'C': 'sum'})

In [ ]:
num_reordered = pd.merge(
prior_orders_and_items_by_users_in_test_set.sort_values(by=["order_number"]),
products_df,
    on="product_id",
    how="left"
).drop(
    ["eval_set","user_id"],axis=1
).groupby("order_id")["reordered"].sum().to_frame().rename(columns={"reordered":"num_reordered"})

num_reordered.head()

In [ ]:
reorders_by_order_number = pd.merge(
prior_orders_and_items_by_users_in_test_set.sort_values(by=["order_number"]),
products_df,
    on="product_id",
    how="left"
).drop(
    ["eval_set","user_id"],axis=1
).groupby(["order_number"]).agg( {'reordered': [np.sum,'count'] } )

In [ ]:
reorders_by_order_number['reordered','sum'].to_frame()

In [ ]:
reorders_by_order_number["ratio"] = reorders_by_order_number['reordered','sum'] / reorders_by_order_number['reordered','count']

In [ ]:
corr_df =  reorders_by_order_number.reset_index()
corr_df["order_number"].corr(corr_df["ratio"])

In [ ]:
reorder_fraction = num_reordered["num_reordered"] / num_ordered["num_ordered"]

In [ ]:
reorder_fraction.to_frame()

In [ ]:
corr_df['days_since_prior_order'].corr(corr_df['order_dow'])

In [ ]:
# last orders
products_df['reorder_cl'] = last_items_ordered_df.groupby('product_id')['reordered'].count()
products_df['reorder_sl'] = last_items_ordered_df.groupby('product_id')['reordered'].sum()

products_df['product_reorder_factor'] = (products_df['reorder_sl']) / (products_df['reorder_cl'])

products_df.drop(['reorder_cl','reorder_sl'],axis=1,inplace=True)

In [ ]:
products_df.head(10)

In [ ]:
product_factors = products_df[["product_id","product_reorder_factor"]]
product_factors.set_index("product_id",inplace=True)
pickle.dump(product_factors.to_dict()['product_reorder_factor'],open(PICKLE_ROOT+"static_product_reorder_factors.p","wb"))

In [ ]:
product_factors.head()